<div class="footer">
    <div class="footer-items">
        <p class="copyright">copyright &copy; 2022 Tejaswi
            <b>
                <a href=""><i class="fab fa-github"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </b>
        </p>
    </div>
</div>

</body>

</html>