    <div class="footer-padding"></div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <p class="copyright">copyright &copy; 2022 Tejaswi</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <p class="social-icon">
                    <a href=""><i class="fab fa-github"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                </p>
            </div>
        </div>
    </div>
    </div>

</body>
</html>