<div class="footer fixed-bottom">
    <div class="footer-items">
        <p class="copyright">copyright &copy; 2022 Tejaswi
            <b>
                <a target="_blank" href="https://github.com/ChebroluTejaswi"><i class="fab fa-github"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/chebrolu-tejaswi/"><i class="fab fa-linkedin"></i></a>
            </b>
        </p>
    </div>
</div>

</body>

</html>