<%- include("header") -%>

<nav class="navbar navbar-expand-sm navbar-dark navbar-fixed-top">
    <div class="container">
        <h1 class="heading">To-Do List</h1>
        <h1 class="heading">Score: <%= score %></h1>
    </div>
</nav>

<%- include("footer") -%>